*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    font-family: monospace;
}

.bg1{
    background: url("images/pic1.jpg");
}

.bg2{
    background: url("images/pic2.jpg");
}

.bg3{
    background: url("images/pic3.jpg");
}

.bg4{
    background: url("images/pic4.jpg");
}

h1{
    color: red;
    background-color: #DAE0E2;
    z-index: 1;
    box-shadow: 0 0 20px #2C3335;
}

.bg1, .bg2, .bg3, .bg4{
    width: 100vw;
    height: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    border: 1px solid #2C3335;
}

.bg1::after,.bg2::after,.bg3::after,.bg4::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #2C3335;
    opacity: 0.5;
}
